<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>WeatherAPI</title>
</head>
<body>
    <img alt='an image of an snowy field' src="{% static 'Images/snowy_path.jpg' %}" id="background-image"></img>
{% include "navbar.html" %} 
   

{% block content %}

{% endblock%}

</html>
</body>